$screen-xs: 620px;
$screen-sm: 920px;
$screen-md: 1100px;
$screen-lg: 1540px;

$container-xs: 600px;
$container-sm: 900px;
$container-md: 980px;
$container-lg: 1540px;
//media
//flex
$j-fs: flex-start;
$j-end: flex-end;
$j-center: center;
$j-sb: space-between;
$j-sa: space-around;
$j-se: space-evenly;

$a-fs: flex-start;
$a-end: flex-end;
$a-center: center;
$a-bl: baselie;
