@import "../../node_modules/bootstrap/scss/_functions";
@import "../../node_modules/bootstrap/scss/_variables";
@import "../../node_modules/bootstrap/scss/mixins/_breakpoints";


@import "parts/_variables";
@import "parts/_mixins";
@import "parts/_general";


