{% macro card(name, data, text) %}
{% set cardList = [
{name: "Фамилия Имя", data: "29 янв. 2019 г. 19:04", text: "Хочу выразить благодарность компании Трансис за
оказанные услуги по доставке товаров из Москвы.
Быстро,качественно, всегда в срок. Работаю с ними уже 2 года и никаких нареканий. Особую благодарность
менеджеру Тане за терпение, а водителю Андрею за скорость заставки. Успехов!"},
{name: "Фамилия Имя", data: "29 янв. 2019 г. 19:04", text: "Хочу выразить благодарность компании Трансис за
оказанные услуги по доставке товаров из Москвы.
Быстро,качественно, всегда в срок. Работаю с ними уже 2 года и никаких нареканий. Особую благодарность
менеджеру Тане за терпение, а водителю Андрею за скорость заставки. Успехов!"},
{name: "Фамилия Имя", data: "29 янв. 2019 г. 19:04", text: "Хочу выразить благодарность компании Трансис за
оказанные услуги по доставке товаров из Москвы.
Быстро,качественно, всегда в срок. Работаю с ними уже 2 года и никаких нареканий. Особую благодарность
менеджеру Тане за терпение, а водителю Андрею за скорость заставки. Успехов!"},
{name: "Фамилия Имя", data: "29 янв. 2019 г. 19:04", text: "Хочу выразить благодарность компании Трансис за
оказанные услуги по доставке товаров из Москвы.
Быстро,качественно, всегда в срок. Работаю с ними уже 2 года и никаких нареканий. Особую благодарность
менеджеру Тане за терпение, а водителю Андрею за скорость заставки. Успехов!"},
{name: "Фамилия Имя", data: "29 янв. 2019 г. 19:04", text: "Хочу выразить благодарность компании Трансис за
оказанные услуги по доставке товаров из Москвы.
Быстро,качественно, всегда в срок. Работаю с ними уже 2 года и никаких нареканий. Особую благодарность
менеджеру Тане за терпение, а водителю Андрею за скорость заставки. Успехов!"},
] %}
<ul class="recommendation__list">
  {% for cardItem in cardList %}
  <li class="recommendation__item r-card">
    <div class="r-card__wrap">
      <div class="r-card__head r-head">
        <div class="r-head__left">
          <div class="r-head__name">{{ cardItem.name }}</div>
          <div class="r-head__data">{{ cardItem.data }}</div>
        </div>
        {% set heartList = [
        {img: "img/svg/sprite.svg#heart"},
        {img: "img/svg/sprite.svg#heart"},
        {img: "img/svg/sprite.svg#heart"},
        {img: "img/svg/sprite.svg#heart"},
        {img: "img/svg/sprite.svg#heart"}
        ] %}
        <div class="r-head__right">
          {% for heartItem in heartList %}
          <label class="check option">
            <input type="checkbox" class="check__input">
            <span class="check__box">
              <svg class="check__img">
                <use xlink:href="{{ heartItem.img }}"></use>
              </svg>
            </span>
          </label>
          {% endfor %}
        </div>
      </div>
      <p class="r-card__text">
        {{ cardItem.text }}
      </p>
    </div>
  </li>
  {% endfor %}
</ul>
{% endmacro %}